    <div class="content_post">
    <div class="more">
    <ul class="more_list">
      <li>
        <%= link_to '詳細', tpic_path(tpic.id), method: :get%>
      </li>
      <% if user_signed_in? && current_user.id == tpic.user_id %>
      <li>
        <%= link_to '編集', edit_tpic_path(tpic.id), method: :get %>
      </li>
      <li>
        <%= link_to '削除', tpic_path(tpic.id), method: :delete %>
      </li>
      <% end %>
      </ul>
      </div>
      <p><%= tpic.title %></p>
      <% tpic.tags.each do |tag| %>
      タグ:<%=tag.tag_name%>
      <%end%>
      <br>作成日時:<%= tpic.created_at.to_s(:datetime_jp) %></br>
      <span class="name">
      <a href="/users/<%= tpic.user.id %>">
      <span>作成者</span><%= tpic.user.name %>
        </a>
      </span>
    </div>

